@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .container {
    animation: fadeIn 1s ease-in-out;
  }
  
  .home-title {
    font-size: 2rem;
    color: white;
    text-shadow: 10px px 4px rgba(0, 0, 0, 0.3);
  }
  
  .home-description {
    font-size: 1.2rem;
    color: white;
  }
  